* {
box-sizing: border-box;
}

*::before, *::after {
box-sizing: border-box;
}

body {
  margin: 0;
}
.banner_image {
height: 18rem;
width: 100%;
right: 0;
top: 0;
position: relative;
}

.brand_logo {
width: 6.5rem;
height: 6.5rem;
border-radius: 50%;
position: absolute;
left: 15%;
top: 30%;
border: 4px solid #f4f4f4;
}

.main-article_container {
  max-width: 60%;
  text-align: center;
  margin: auto;
  padding-top: 4rem;
  font-family: sans-serif;
  color: #444444;
}

.main-article_content {
  text-align: center;
  max-width: 80%;
  float: right;
}

.main-article_title {
  font-size: 3rem;
  font-weight: 600;
}

.main-article_author {
font-size: 1rem;
font-weight: 200;
}

.main-article_text {
  font-family: monospace;
  font-size: 2rem;
}

.side-bar_item {
  text-align: center;
  float: left;
  max-width: 15%;
}

.search_bar {
  border-top: 1px solid grey;
}
