* {
box-sizing: border-box;
font-size: 1rem;
}

*::before, *::after {
box-sizing: border-box;
}

body {
  margin: 0;
}
.banner_image {
height: 18rem;
width: 100%;
right: 0;
top: 0;
}

.brand_logo {
width: 6.5rem;
height: 6.5rem;
border-radius: 50%;
position: absolute;
left: 15%;
top: 30%;
border: 4px solid #f4f4f4;
}

.bulk_content {
  background: #ee650d;
  text-align: center;
}

.main-article_container {
  max-width: 60%;
  background: #18e83a;
}

.side-bar_item {
  text-align: right;
  background: #beff05;
  max-width: 15%;
}

.app-container {

}
